div.new_applicant input,
div.new_applicant select{
    margin-bottom: 10px;
}
div.new_applicant button{
    margin-bottom: 40px;
}

div.new_formation input,
div.new_formation select{
    margin-bottom: 10px;
}

div.new_formation button{
    margin-bottom: 40px;
}
