div.formation div{
    background-color: white;
    border: solid forestgreen 2px;
    border-radius: 5px;
    padding: 10px;
}

div.formation:hover div{
    background-color: green;
}
div.formation a{
    color: black;
}
div.formation a:hover{
    color: white;
    background-color: green;
    text-decoration: none;
}
div.list_formations button{
    margin-bottom: 10px;
    font-weight: bold;
}

div.list_formations button:hover{
    color: white;
    background-color: green;
}


