div#login{
    margin-top: 12%;
    background-color: forestgreen;
    border-radius: 15px;
    padding: 2%;
    float: left;
    border: solid black 3px;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

div#login  .form-control:active{
    border: solid forestgreen 2px;

}
div#login input[type="submit"]{
    display: block;
    margin: 10px auto;
    background-color: white;
    border: solid black 1px;
}

div#login input[type="submit"]:hover{
    font-weight:bold;
    color: forestgreen;
    border: solid black 1px;
}
div#login div.remember{
    text-align: center;
    margin-top: 5px;
}
