div#login{
    margin-top: 12%;
    background-color: gainsboro;
    border-radius: 15px;
    padding: 2%;
}
div#login input[type="submit"]{
    display: block;
    margin: 10px auto;
}
div#login div.remember{
    text-align: center;
    margin-top: 5px;
}